<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Login</title>
</head>
<body>
<section id="login">
    <h1>Connecter vous dans le site de R&T Development</h1>
    </br>
    {% if error_message %}
        <p class="error">{{ error_message }}</p>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div>
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username">
        </div>
    </br>
    </br>
        <div>
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password">
        </div>
    </br>
    </br>
        <button type="submit">Se connecter</button>
    </form>
</section>
</body>
</html>
   


