{% extends "index.html" %} 

{% block content %} 
    <h1>Liste des machines</h1>
    {% if machines %}
    <ul>
        {% for machine in machines %} 
            <li>
                <a href="{% url 'machine-detail' machine.id %}">
                {{ machine.id }}</a> ({{machine.nom}})
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Il n\'y a pas de machine.</p>
    {% endif %}


    <div class="ajout3">
        <a href="{% url 'add-machine' %}">Ajouter une machine</a>
    </div>


{% endblock %}